@charset "UTF-8";
button {
	background-color: #0080c0;
	color: white;
	padding: 15px;
	position: relative;
	margin: 10px;
	border: none;
	font-size: 12pt;
}
body {
	text-align: center;
}
h1{
	color: #0080c0;
}