
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }

  header {
    background-color: #777;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    color: white;
  }

  .logo {
    font-size: 3em;
  }

  nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size:1.4em;
  }

  nav a:hover {
    cursor : pointer;
    background-color: #5b5b5b;
    padding: 2px;
    border-radius: 20px;
  }

  .main {
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: #d9d9d9;
    height: 90vh;
  }