body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
}

h3{
    margin:5px ;
    padding:5px;
  }
.conteudo{
color:rgb(109, 104, 36);
display: grid;
grid-template-columns: minmax(2,49%);
margin-top: 10px;
}

footer{
background-color:#333;
color: white;
text-align: center;
font-size: 20px;
margin-top: 15%;
}

.posts .posts-item img {
max-width: 100%;
height: auto;
display: block;
margin: 0 auto;
margin-bottom: 0.5rem;
background-position: center center;
}
.posts.round .round-container img {
width: auto;
height: 100%;
position: absolute;
left: 50%;
transform: translateX(-50%);
}
/*figure img {
border-radius: 100%;
width: 12rem;
height: 12rem;
}*/

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

nav li {
float: left;
}

nav a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav a:hover {
background-color: rgba(132, 241, 43, 0.432);
}


