@media screen and (max-width: 850px) {
  nav ul li {
    float: none;
  }
  div.conteudo,div.conteudo p, form p input{
   width: 100% !important;
   text-align: center;
  }

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
	background: rgb(58,180,95);
  background: linear-gradient(90deg, rgba(58,180,95,1) 0%, rgba(3,73,11,1) 73%, rgb(42, 48, 44) 90%);
}
    
footer{
    background-color:#333;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 20px;
    margin-top: 15%;
}
div.conteudo{
  border: rgb(65, 196, 32) double 5px;
  color: black;
  background-color: rgb(67, 255, 108);
  padding: 20px;
  width: 40%;
  
}

.posts .posts-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    background-position: center center;
  }
  .posts.round .round-container img {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  figure img {
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }
  
  nav ul li {
    float: left;
  }
  
  nav a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: rgba(132, 241, 43, 0.432);
    transition: 0.5s;
  }
  



.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

  .container {
   
    margin: 0 auto;
  
    align-items: column;
	width:100%;
	text-align:center;


}
img{
  border-radius: 100%;
}

 table, th, td{
    border: 1px solid rgb(48, 1, 1);
    border-collapse:collapse; 
    padding: 5px 2px;
}
tr:nth-child(even) {
  background-color: white;
  }

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.BtnForm {
  text-align: center;
  width: 100%;
}