p{
    color:rgb(43, 187, 206);
    text-indent: 30px ;
    word-spacing: 20px;
    line-height: 40px;
}

h1{
    text-align:center ;
    color:rgb(80, 23, 235);
    text-shadow: 10px 10px 10px rebeccapurple;
}

h2{
    color:rgb(80, 23, 235);
    text-transform: uppercase;
    text-indent: 30px ;
    word-spacing: 20px;
    line-height: 40px;
}