@charset "UTF-8";
button {
  background-color: #4e342e;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
a{
	text-decoration: none;
	color: white;
}

div {
	margin: 20em 30em;
	background-color: #fff3e0;
	padding: 10px;
	border-radius: 10px 
}
